/* Web Fonts {{{ */
@import url('./assets/webFonts.css');
/* }}} */

/* Color Custom Properties {{{ */
@import url('./assets/colors.css');
/* }}} */

/* Basic light reset for modern browsers {{{ */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	/* Box sizing is not inherited by default. Make it inherit */
	box-sizing: inherit;
} /* }}} */

/* Root font size conversion to rem (polite for zoom leveling) {{{ */
html {
	/* 62.5% = 10px */
	/* 10px = 1rem */
	font-size: 62.5%;
} /* }}} */

body { /* {{{ */
  display: flex;
	/* flow vertically */
	flex-direction: column;
	/* horizontal centering */
	align-items: center;
	/* vertical centering */
	justify-content: center;
	/* occupy the viewport vertically */
	height: 100vh;
	/* hides any default scrollbars */
	overflow: hidden;
	/* Total box sizes won't include border and padding */
	box-sizing: border-box;

	color: var(--dark-fg);
	background-color: var(--dark-bg);
} /* }}} */

/* headings and paragraphs {{{ */
p {
	font-family:  'grotesque';
	font-size: 1.5rem;
	font-weight: regular;
	line-height: 1;
	font-kerning: auto;
}

h1 {
	font-family: 'serif';
	font-size: 5rem;
	font-weight: bold;
	font-kerning: auto;
}

h2 {
	font-family: 'serif';
	font-size: 3rem;
	font-weight: bold;
}

h3 {
	font-family: 'serif';
	font-size: 2.5rem;
	font-weight: regular;
}

h4 {
	font-family: 'grotesque';
	font-size: 2rem;
	font-weight: bold;
}

h5 {
	font-family: 'grotesque';
	font-size: 1.7rem;
	font-weight: bold;
}
/* }}} */

/* Container {{{ */
.container { 
	max-width: 80%;
}
/* }}} */
