:root {
	--dark-fg:		#e4e4e4;
	--dark-bg:		#080808;
	--light-fg:		#080808;
	--light-bg:		#e4e4e4;

	--highGray2:	#b2b2b2;
	--highGray3:	#8a8a8a;
	--midGray1:		#6c6c6c;
	--midGray2:		#4e4e4e;
	--midGray3:		#3a3a3a;
	--lowGray1:		#303030;
	--lowGray2:		#262626;
	--lowGray3:		#1c1c1c;

	--highPurple:	#afafff;
	--lowPurple:	#af5fff;
	--highGreen:	#00ffaf;
	--lowGreen:		#00d7d7;
	--highRed:		#d75f87;
	--lowRed:			#d7005f;
	--highYellow:	#ffd700;
	--lowYellow:	#af8700;
}
